* {
   /* применение ко всем */
   box-sizing: border-box;
}
.container {
   max-width: 1170px; /*ширина*/
   margin: auto; /*чтоб "контейнер" был посередине*/
   width: 90%;
}
p {
   font-size: 18px;
   text-align: justify;
}
span {
   font-size: 16px;
   /* margin-bottom: 5px; */
}
/* .standard {
   margin-top: 1em;
   margin-bottom: 1em;
   border: 1px solid #a2a9b1;
   border-collapse: collapse;
}
table {
   display: table;
   border-collapse: collapse;
   box-sizing: border-box;
   text-indent: initial;
   border-spacing: 2px;
   border-color: grey;
}  */
table {
   text-align: center;
   border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
   border: 2px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
   margin-top: 1em;
   margin-bottom: 1em;
} 
tr, th, td {
   border: 1px solid grey;
   padding: 0.2em 0.4em;
   padding-top: 0.2em;
   padding-right: 0.4em;
   padding-bottom: 0.2em;
   padding-left: 0.4em;
}
.grey-background {
   background:#e9e9e9;
}
.blue-background {
   background: #eaf3ff;
}